@model Clarity.Core.Domain.Notification


<div class="card">
    <div class="card-header-equipment">
        <div class="card-head">
            <div class="row justify-content-between">
                <h2>Create Notification</h2>                
            </div>
            <div>
                <a class="btn btn-dark" asp-action="Index"><i class="fas fa-arrow-left fa-xs"></i> Back to List</a>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Sender" class="control-label"></label>
                        <input asp-for="Sender" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Recipient" class="control-label"></label>
                        <input asp-for="Recipient" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <textarea asp-for="Body" class="form-control readonly" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pending" class="control-label"></label>
                        @{
                            var itemPending = Model.Pending ? "checked" : "";
                        }
                        <input class="form-check-input mt-0" style="font-size: 50px" type="checkbox" @itemPending  disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="DateTimeCreated" class="control-label"></label>
                        <input asp-for="DateTimeCreated" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="DateTimeSent" class="control-label"></label>
                        <input asp-for="DateTimeSent" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attempts" class="control-label"></label>
                        <input asp-for="Attempts" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="SendStatusCode" class="control-label"></label>
                        <input asp-for="SendStatusCode" class="form-control" readonly />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>